@model EmulatorsRequester.Models.BridgeLogs

@{
    ViewData["Title"] = "Get Bridge Logs";
}
@section scripts
{
    <script type="text/javascript">
        $('input[type=text][name=ID]').tooltip({
            placement: "right",
            trigger: "focus"
        });
        $('input[type=number][name=Count]').tooltip({
            placement: "right",
            trigger: "focus"
        });
    </script>
}

<!DOCTYPE html>
<html>
<head>
    <meta name="Get Bridge Logs" content="width=device-width" />
    <title>Get Bridge Logs</title>
</head>

<body>
        
    <div>
        <a asp-action="Index">Back to List</a>
    </div>

    @using (Html.BeginForm("GetBridgeLogs", "Scoville", FormMethod.Post))
    {
        <table cellpadding="0" cellspacing="0" class="table table-hover">
            <tr>
                <th colspan="2" align="center" class="table-success">/envirovue/bridge/logs</th>
            </tr>
            <tr>
                <td>Bridge ID:</td>
                <td>
                    @Html.TextBoxFor(m => m.Id, 
                        new Dictionary<string, object>
                        {
                            {"data-toggle", "tooltip"},
                            {"title", DisplayAttributeExtension.GetPropertyDescription(() => Model.Id)}
                        })
                </td>
            </tr>
            <tr>
                <td>Logs Count:</td>
                <td>
                    @Html.EditorFor(m => m.Count, 
                        new Dictionary<string, object>
                        {
                            {"data-toggle", "tooltip"},
                            {"title", DisplayAttributeExtension.GetPropertyDescription(() => Model.Count)}
                        })
                </td>
            </tr>            
            <tr>
                <td>Logs Offset:</td>
                <td>
                    @Html.EditorFor(m => m.Offset, 
                        new Dictionary<string, object>
                        {
                            {"data-toggle", "tooltip"},
                            {"title", DisplayAttributeExtension.GetPropertyDescription(() => Model.Offset)}
                        })
                </td>
            </tr>
            <tr>
                <td><input type="submit" value="Get Bridge Logs" class="btn btn-primary"/></td>
                <td></td>
            </tr>

        </table>
    }
    <table class="table table-bordered">  
        <tr>
            <td class="table-success">
            @Html.DisplayNameFor(model => model.ResponseStatus)
            </td>
        </tr>  
        <tr>
            <td>
            @Html.DisplayFor(model => model.ResponseStatus)
            </td>
        </tr>  
        <tr>
            <td class="table-success">
            @Html.DisplayNameFor(model => model.JsonResponse)
            </td>
        </tr>  
        <tr>
            <td>
            @Html.DisplayFor(model => model.JsonResponse)
            </td>
        </tr>  
    </table> 
</body>
</html>